.App {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
  background-image: url('./devbg.jpg');
  background-repeat: repeat;
  background-position: 50%;
  background-size: cover;
}